body{
    background: url('images/1.jpg');
}

.top{
  background: rgba(128, 128, 128, 0.466);
  height: 110px;
}
.top h3{
    float: left;
    font-size: 49px;
    margin-left: 90px;
    font-family: monospace;

    margin-top: 0px;
    padding-top: 20px;
}


.content form{
    margin-top: 140px;
    margin-left: 90px;
}
.content form img{
    width: 30px;
    height: 30px;
 margin-right: -40px;
  margin-bottom:-7px;
}
.content form input{
    font-family: monospace;
    font-size: 20px;
    padding-left: 40px;
    color: white;
    background-color:rgba(0, 0, 0, 0.24);
    height: 38px;
    margin-bottom: 10px;
    width: 300px;
}
.content form button{
    margin-left: 90px;
    color: white;
    background-color:rgba(0, 0, 0, 0.24);
    width: 110px;
    height: 38px;
    transition: 1s;
    margin-top: -30px;

}
.content button:hover{
    transform: scale(1.1);
}

#image{
    height: 400px;
    width: 650px;
   float: right;
   margin-top: -300px;
   border: 5px solid white;
   margin-right: 30px;
}
.topPicHed h1{
    background: rgba(128, 128, 128, 0.466);
    margin-right: 270px;
    margin-top: -390px;
    float: right;
    height:60px;
    width: 400px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: monospace;
}
#Y_value{
    display: none;
}
#X_value{
    display: none;
}